%f-ba {
    content: "";
    width: 100vw;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.features {
    overflow: hidden;

    h5,
    p,
    img {
        position: relative;
        z-index: 2;
    }

    p {
        margin-bottom: 0;
    }

    .features-ti {
        .features-t {
        }
        .features-i {
            position: relative;

            &:before {
                @extend %f-ba;
                height: 100%;
                top: 0;
                left: 15px;
            }
        }
    }

    .features-it {
        .features-i {
            position: relative;

            &:before {
                @extend %f-ba;
                height: calc(100% + 40px);
                width: 200px;
                top: 0;
                right: 15px;

                @media (max-width: 767px) {
                    height: calc(100%);
                }
            }
        }
        .features-t {
            position: relative;

            &:before {
                @extend %f-ba;
                height: 100%;
                top: 0;
                left: -30px;

                @media (max-width: 575px) {
                    left: 0px;
                }
            }
        }
    }
}
