%wb-ba {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    z-index: 0;
}

section#whereBuy {
    position: relative;

    &:before {
        @extend %wb-ba;
        top: 0;
        background-color: $six-row;
    }

    &:after {
        @extend %wb-ba;
        bottom: 0;
        background-color: $primary;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}
