#form {
    .field {
        width: 100%;
        position: relative;
        flex-shrink: 0;
        font-family: $_text;
        min-height: 50px;

        .label {
            position: absolute;
            top: 13px;
            left: 30px;
            -webkit-transition: 0.2s ease-out all;
            transition: 0.2s ease-out all;
            font-size: 1.8rem;
            margin: 0;
            height: 46px;
            background-color: transparent;
        }

        .input,
        .textarea {
            border: 2px solid $five-row;
            line-height: 22px;
            width: 100%;
            background: none;
            font-size: 1.8rem;
            color: $secondary;
        }

        .input {
            height: 50px;
        }

        .textarea {
            resize: none;
            min-height: 150px;
        }

        .input:focus,
        .textarea:focus {
            outline: none;
            border: 2px solid $secondary;
        }

        .input:focus + .label,
        .textarea:focus + .label,
        .input:not(:placeholder-shown) + .label,
        .textarea:not(:placeholder-shown) + .label {
            top: -11px;
            font-size: 1.3rem;
            padding: 0 10px;
            height: 22px;
            line-height: 22px;
            background-color: $seven-row;
        }

        .label-checkbox {
            min-height: 33px;
            font-size: 1.4rem;
            cursor: pointer;
            text-align: left;
            width: 100%;
            position: relative;

            &:before {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                border: 2px solid $tertiary;
            }

            &:hover:before {
                box-shadow: 0px 0px 20px 7px rgba(255, 255, 255, 0.15);
            }
        }

        .input-checkbox {
            &:focus + .label-checkbox:before {
                background-color: rgba(255, 255, 255, 0.3);
            }

            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            border: 0;

            &:checked + .label-checkbox {
                &:before {
                    background-color: transparent;
                }

                &:after {
                    background-color: $tertiary;
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
            }
        }

        .error-post {
            display: none;
        }

        &.fieldset {
            width: auto;
        }

        &.has-error {
            font-size: 1.3rem;

            .input,
            .textarea {
                border-color: $quaternary;
            }

            .input + .label,
            .textarea + .label {
                top: -11px;
                font-size: 1.3rem;
                padding: 0 10px;
                height: 22px;
                line-height: 22px;
                background-color: $seven-row;
                color: $quaternary;
            }

            .uploads-thumb {
                border-color: $quaternary;
            }

            .error-post {
                color: $quaternary;
                padding-left: 20px;
                display: block;
                position: relative;
                margin-top: 5px;
                margin-left: 25px;

                &:before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url('/images/svg/error.svg');
                    display: block;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            .label-checkbox {
                &:before {
                    border: 2px solid $quaternary;
                }
            }

            .label-checkbox + .error-post {
                margin-left: 60px;
            }
        }

        &.field-uploads {
            background-color: $primary;
        }
    }
    .uploads {
        width: 100%;
        position: relative;
        transition: all 0.5s ease;
        color: white;
        border: 0;
        background-color: $primary;

        &:hover {
            box-shadow: none;
        }

        .ajax-file-upload-container {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .ajax-file-upload {
            background: none;
            box-shadow: none;
            margin: 0;
            width: 100%;
            height: 170px;
            line-height: 1.2;
            display: inline-block;
            border: none;
            border-radius: 0px;
            padding: 0;
            text-align: left;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 15px;
            float: left;
            text-align: center;

            p {
                font-size: 1.3rem;
            }
        }

        .ajax-file-upload-error {
            color: $quaternary;
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
    }

    .ajax-file-upload-statusbar {
        border: 0;
        border-radius: 0px;
        padding: 0;
        margin: 0;
        width: 100% !important;
        display: none;

        &:first-of-type {
            display: block;
        }

        .ajax-file-upload-progress {
            width: 100%;
            border: 0;
            margin: 0;
            height: 8px;
            position: absolute;
            top: 0;
            left: 0;

            .ajax-file-upload-bar {
                background-color: #15181d;
                width: 0;
                height: 100%;
                border-radius: 0;
                color: $seven-row;
            }
        }

        .ajax-file-upload-filename,
        .ajax-file-upload-error {
            display: none;
        }
    }

    .uploads-receipt {
        float: right;

        + .error-post:not(:empty) {
            width: 290px;
            float: right;
        }
    }

    .uploads-tip {
        width: 100%;
    }

    .uploads-thumb {
        border: 2px solid $five-row;
    }
}
