.sbHolder {
    background-color: $primary;
    border: 1px solid $seven-row;
    font-size: 1.8rem;
    font-weight: normal;
    height: 3.4rem;
    position: relative;
    width: 100%;
    margin: 0 auto;

    &:focus .sbSelector {
    }

    .sbToggle {
        display: block;
        height: 3.2rem;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.4rem;
        border-left: 1px solid $seven-row;

        &:before {
            content: "";
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAflBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////vroaSAAAAKXRSTlMAkQYk9hIC+i0JA+fhzsO1rIYdGA1/d2dhPTfx3KRwWVFD2MidS+2WX2t5HHcAAAHHSURBVHja7djrVtpQEMXxTQK5AAIJtyTKVdDu93/BLmm7WntQ0Tlnjh/m9xD/NbNhjDHGGGOMMd9C2lQ9datDiV/qIyNZ4UXBeKYAypwRbYE1oxrikVGl6DOqDmNGVaDHmPIEc8a0B9Aynhle7BnLQ4KLFeO4X+C3E6Oo8Uc2YQQd/koeqG6Hfy3uqWyJ12rq2uB/HTVNMjh21DNOcMWSWvoDXLWhkhTXZY9U0eItyZgKGrxt0GdwFd6TMrQZ3tcyrLshPtAwpFGJD1V0BA2Aa8ZgUtxieMdADrhNOWIQazhUc9CDQzUHU3zGgRdqAXCtSWoGwNWjT/kcnzalRwUcqjk4w6Gagy2+Zp7Ti2d8VaEcANeZcscEAltKPS0g8uw5AOo5KCCVHGUjlNziSTKHO1RzcIIfhfAHl9sLRjg/VoIRzo+TYISTEAx5HTwQDHk7eCAY8pbwrxaMcH50wgDI7QQjnB9L4Q8ut7nxB5cTDHktPBAMeQ0k5J97hdBSwQjnRyv8weUa4Q8uVwkDIDcLEQD5536AnnIkGOEC5aAHXanzg2sr8lcBGkLdfOxcYMqydc6LSY1IsuJHtT0PYIwxxhhjjDFG4if3fnvcZtr/zQAAAABJRU5ErkJggg==);
            display: block;
            height: 3.4rem;
            outline: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 3.2rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
        }

        &:hover {
        }

        &.sbToggleOpen {
            &:hover {
            }

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    .sbSelector {
        display: block;
        height: calc(100%);
        left: 0;
        line-height: 1;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: calc(100% - 3.2rem - 1px);
        outline: none;
        padding: 0.7rem 15px;

        &:link,
        &:visited,
        &:hover {
            color: $seven-row;
            outline: none;
            text-decoration: none;
        }
    }

    .sbOptions {
        background-color: $primary;
        border: 0.1rem solid $seven-row;
        list-style: none;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 1;
        overflow-y: auto;
        top: 3.2rem !important;

        li {
            padding: 0;
        }

        a {
            border-bottom: dotted 1px $seven-row;
            display: block;
            outline: none;
            padding: 7px 0 7px 15px;

            &:link,
            &:visited {
                color: $seven-row;
                text-decoration: none;
            }

            &:hover,
            &:focus,
            &.sbFocus {
                color: $quaternary;
            }
        }

        li.last a {
            border-bottom: none;
        }

        .sbDisabled {
            border-bottom: dotted 1px $six-row;
            color: #999;
            display: block;
            padding: 7px 0 7px 3px;
        }

        .sbGroup {
            border-bottom: dotted 1px $six-row;
            color: #ebb52d;
            display: block;
            font-weight: bold;
            padding: 7px 0 7px 3px;
        }

        .sbSub {
            padding-left: 17px;
        }
    }
}

.sbHolderDisabled {
    background-color: #3c3c3c;
    border: solid 1px $six-row;

    .sbHolder,
    .sbToggle {
    }
}
